

:root {
  --card-size: min(85px, 21vw); 
  --pink-border: #d36d9e;
  --dark-pink: #c00763;
  --bg-gradient: linear-gradient(180deg, #e29eb9, #cf348f);
  --flame-pink: #ff007f;
  --flame-light: #ff8cce;
}

@media (min-width: 600px) {
  :root { --card-size: 115px; }
}

body {
  font-family: "Arial", sans-serif;
  background: var(--bg-gradient);
  color: var(--dark-pink);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.titulo-grande {
  font-size: clamp(1.8rem, 8vw, 2.5rem);
  color: white;
  text-shadow: 2px 2px var(--dark-pink);
  text-align: center;
  margin: 10px 0;
}

.status-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.3);
  padding: 12px 0;
  border-radius: 20px;
  border: 2px solid white;
}

.status-item {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  color: white; 
}

.status-item span {
  display: block;
  font-size: 1.2rem;
  color: var(--dark-pink);
}

.menu-botoes {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 12px 25px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  background: #e968a8;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

#toggleMute { background: var(--dark-pink); }

.board {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.card {
  width: var(--card-size);
  height: var(--card-size);
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flip .card-inner {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 15px;
  border: 2px solid var(--pink-border);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.back {
  background: #a3426e;
  font-size: 1.8rem;
  color: white;
}

.front {
  transform: rotateY(180deg);
  background: white;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes flame-glow {
  0% {
    box-shadow: 0 0 8px var(--flame-pink), 0 0 12px var(--flame-pink);
    border-color: var(--flame-pink);
  }
  100% {
    box-shadow: 0 0 18px var(--flame-pink), 0 0 25px var(--flame-light);
    border-color: white;
  }
}

.card.flip .face {
  animation: flame-glow 1s infinite alternate ease-in-out;
}
